.wrap {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 16px;
}

.dropzone {
    padding-block: 4px;
}
.dropzone p {
    margin-block: 0;
}