h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 8px;
    font-family: 'Roboto';
    font-size: 24px;
    color: #6C6C80;
}

.upload-client-info {
    font-family: 'Roboto';
    font-size: 24px;
    color: #6C6C80;
    width: 95%;
    white-space: nowrap;
    overflow-x: scroll;
    
}

.upload-client-info::-webkit-scrollbar {
    height: 4px;
    width: auto;
}

li div{
    cursor: default;
    width: 90%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

form {
    padding: 0;
    border: 1px solid #c5c5c8;
}

input {
    width: 100%;
    margin: 0;
}

a {
    margin-inline: 8px;
    color: #e69b15;
}

a:hover {
    color: #0c0c1c;
}

.upload-list-box {
    background: #FFF;
    width: 95%;
    height: 100%;
    border-radius: 4px;
    padding: 4px;
    overflow-y: scroll;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

ul {
    width: 100%;
    padding: 0;
}

.upload-client-box {
    text-decoration: none;
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #c5c5c8;
    border-radius: 4px;
    margin-bottom: 1px
}

input.upload-client-info {
    padding-inline: 4px;
    height: 36px;
    min-width: 50%;
}

.upload-client-box .upload-client-info + .upload-client-info {
    border-left: 1px solid #c5c5c8;
}

.upload-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

button {
    cursor: pointer;
    transition: 0.2s;
    margin-top: 4px;
}

button:hover {
    opacity: 0.2;
}

#upload-add-contact {
    background: #fff;
    color: #1eb53a;
}

#upload-btn-revoke {
    background: #FFF;
    color: #e23d28;
}
#upload-btn-confirm {
    background: #fff;
    color: #1eb53a;
}
@media screen and (max-width: 850px) {
    h2 {
        width: 95%;
    }
    .upload-client-info {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .upload-list-box {
        height: 440px;
    }
}